/********************
      READER
********************/
header {
  margin-bottom: 70px;
  padding-top: 40px;
  text-align: center;

  &.header-visitor {
    display: none;
  }
}

.qr-reader {
  .reader-overlay {
    background: url('../images/qr-scanner.png') center center no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .qr-video-reader {
    @include margin(null auto);

    height: calc(100vh - 280px);
    max-width: 555px;
    width: 100%;

    .qr-video__container {
      position: relative;
    }
  }

  .qr-video__container {
    &,
    video {
      height: 100%;
    }

    video {
      width: 100%;
    }
  }

  .data-form {
    display: none;
  }
}

.cam-wrapper {
  @include margin(null auto);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 555px;
  position: relative;

  video {
    width: 100%;
  }

  canvas {
    position: absolute;
    top: 0;
  }
}
